<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="casia.isiteam.sensitivedetection.mapper.SensitiveWordMapper">

    <select id="findAllKeywords" resultType="casia.isiteam.sensitivedetection.model.SensitiveWord">
        SELECT w.id as id, w.keyword as keyword, w.aid as aid, a.aspect as aspect, a.val as val
        FROM sensitive_words w, sensitive_words_aspects a
        WHERE w.aid = a.id
    </select>

    <insert id="saveKeywords" parameterType="casia.isiteam.sensitivedetection.model.SensitiveWord">
        <if test="words.size() == 0">
            SELECT 'x'
        </if>
        <if test="words.size() != 0">
            INSERT IGNORE INTO sensitive_words (keyword, aid)
            VALUES
            <foreach collection="words" item="word" separator=",">
                (#{word.keyword}, #{word.aid})
            </foreach>
        </if>
    </insert>

</mapper>